html {
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: inherit;
}

body {
    --main-background-color: #84A178;

    --black-text-color: #131313;
    --white-text-color: #fcfcfc;
    --accent-color: #F8D24E;

    --black: #000000;
    --white: #ffffff;

    --main-font-family: 'Montserrat', sans-serif;
    --accent-font-family: 'Seymour One', sans-serif;
    --third-font-family: 'DM Sans', sans-serif;

    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    width: 100%; 
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-background-color);
}

.header__list {
    display: flex;
    gap: 28px;
}

.header__item {
    padding: 32px 0 13px;
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.header__link {
    color: var(--white-text-color);
}

.header__link:hover,
.header__link:focus {
    transition: var(--transition);
    color: var(--accent-color);
}

.button {
    display: block;
    padding: 20px 0 3px;
}

.btn-arrow {
    display: block;
}

.header__btn {
    padding: 12px 36px;
    width: 152px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-family: var(--main-font-family);
    color: var(--black);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;

    background-color: var(--accent-color);
    border-radius: 10px;
    border-color: transparent;
}