html {
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: inherit;
}

body {
    --main-background-color: #84A178;

    --black-text-color: #131313;
    --white-text-color: #fcfcfc;
    --accent-color: #F8D24E;

    --black: #000000;
    --white: #ffffff;
    --hover: #0A8817;
    --disabled: #ababab;

    --main-font-family: 'Montserrat', sans-serif;
    --accent-font-family: 'Seymour One', sans-serif;
    --third-font-family: 'DM Sans', sans-serif;

    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    width: 100%; 

    *::-webkit-scrollbar {
            width: 5px;
        }
    
        *::-webkit-scrollbar-track {
            background: var(--white-text-color);
        }
    
        *::-webkit-scrollbar-thumb {
            border-radius: 20px;
            border: 4px solid var(--accent-color);
        }
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

header {
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-background-color);
    padding-bottom: 10px;
}

.header__list {
    display: flex;
    gap: 28px;
}

.header__item {
    padding: 32px 0 13px;
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.header__link {
    color: var(--white-text-color);
}

.header__link:hover,
.header__link:focus {
    transition: var(--transition);
    color: var(--accent-color);
}

.button {
    padding: 20px 0 3px;
}

.btn-arrow {
    margin-left: 4px;
}

.header__modal-open {
    display: flex;
    width: 152px;
    height: 42px;
    padding: 10px 34px;
    justify-content: center;
    align-items: center;

    font-family: var(--main-font-family);
    color: var(--black);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;

    background-color: var(--accent-color);
    border-radius: 10px;
    border-color: transparent;

    cursor: pointer;
}

.header__modal-open:hover {
    background-color: var(--hover);
    transition: var(--transition);
}

.header__modal-open:focus {
    color: var(--white);
}

.header__modal-open:disabled {
    background-color: var(--disabled);
    color: var(--black);
}

.backdrop {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: var(--transition);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.header__modal {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 568px;
    padding: 32px;
    background: var(--white-text-color);
    border-radius: 10px;
    border: 2px solid var(--accent-color);
}

.modal-close {
    position: absolute;
    display: block;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: var(--transition);
}

.modal-close:hover,
.modal-close:focus {
    fill: var(--hover);
}

.header__modal-title {
    margin-bottom: 106px;
    font-family: var(--accent-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    font-style: normal;
    color: var(--black-text-color);
}

.header__modal-list {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.header__modal-item:first-child {
    position: relative;
    width: 132px;
    height: 135px;
    border-radius: 15px;
    border: 2px solid #96AF8C;
    box-shadow: rgba(212, 20, 67, 0.10)
}

.header__modal-item:first-child:hover,
.header__modal-item:first-child:focus {
    background-color: #96AF8C;
    cursor: pointer;
    transition: var(--transition);
}

.header__modal-img:first-child {
    position: absolute;
    transform: translateY(-50%);
}

.header__modal-item {
    position: relative;
    width: 132px;
    height: 135px;
    border-radius: 15px;
    border: 2px solid #EFD478;
    box-shadow: rgba(212, 20, 67, 0.10);
}

.header__modal-item:hover,
.header__modal-item:focus {
    background-color: #EFD478;
    cursor: pointer;
    transition: var(--transition);
}

.header__modal-img {
    position: absolute;
    transform: translateY(-50%);
}

.header__modal-item:last-child {
    position: relative;
    width: 132px;
    height: 135px;
    border-radius: 15px;
    border: 2px solid #D6936D;
    box-shadow: rgba(212, 20, 67, 0.10);
}

.header__modal-item:last-child:hover,
.header__modal-item:last-child:focus {
    background-color: #D6936D;
    cursor: pointer;
    transition: var(--transition);
}

.header__modal-img:last-child {
    position: absolute;
    transform: translateY(-50%);
}

.header__modal-text {
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
    text-align: center;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    color: var(--black-text-color);
    margin-top: 95px;
}

.form {
    margin-top: 40px;
}

.header__modal-form {
    position: relative;
    margin-top: 16px;
}

.header__modal-textarea {
    display: block;
    margin: auto;
    width: 368px;
    height: 42px;
    padding: 11px 16px;
    resize: none;
    border: 1px solid var(--main-background-color);
    background: rgba(248, 210, 78, 0.10);
    border-radius: 10px;
    caret-color: var(--black);
    color: var(--black);
    transition: var(--transition);
}

.header__modal-textarea:focus {
    border-color: var(--hover);
    outline: 0 none;
}

.header__modal-textarea::placeholder {
    position: absolute;
    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    font-style: normal;
    color:var(--black-text-color);
}

.header__modal-textarea-comment {
    display: block;
    margin: auto;
    width: 368px;
    height: 84px;
    padding: 11px 16px;
    resize: none;
    border: 1px solid var(--main-background-color);
    background: rgba(248, 210, 78, 0.10);
    border-radius: 10px;
    caret-color: var(--black);
    color: var(--black);
    transition: var(--transition);
}

.header__modal-textarea-comment:focus {
    border-color: var(--hover);
    outline: 0 none;
}

.header__modal-textarea-comment::placeholder {
    position: absolute;
    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    font-style: normal;
    color:var(--black-text-color);
}

.header__modal-btn {
    margin: 32px auto 0;
    display: block;
    padding: 12px 34px;

    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    font-style: normal;
    line-height: normal;
    color: var(--black-text-color);

    border-radius: 10px;
    background: var(--accent-color);
    border-color: transparent;
}

.header__modal-btn:hover,
.header__modal-btn:focus {
    cursor: pointer;
    transition: var(--transition);
    background: var(--hover);
}

.hero {
    background-color: var(--main-background-color);
    padding-top: 45px;
}

.hero__up {
    display: flex;
    justify-content: space-between;
}

.hero__title {
    width: 367px;
    margin-bottom: 28px;
    font-family: var(--accent-font-family);
    color: var(--white-text-color);
    font-size: 38px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.52px;
    text-transform: uppercase;
}

.hero__list {
    display: flex;
}

.hero__item-first {
    margin-right: 12px;
}

.hero__link-first {
    display: block;
    padding: 12px 34px;
    text-align: center;
    font-family: var(--main-font-family);
    color: var(--black-text-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;

    border: 3px solid var(--accent-color);
    border-radius: 10px;
}

.hero__link-first:hover {
    transition: var(--transition);
    border-color: var(--hover);
}

.hero__link-first:focus {
    color: var(--white-text-color);
}

.hero__link-first:disabled {
    border-color: var(--disabled);
    color: var(--black);
}

.hero__link-second {
    display: block;
    padding: 12px 34px;
    text-align: center;
    font-family: var(--main-font-family);
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.hero__link-second:hover {
    transition: var(--transition);
    color: var(--hover);
}

.hero__link-second:focus {
    color: var(--white-text-color);
}

.hero__link-second:disabled {
    color: var(--disabled);
}

.hero__text {
    display: flex;
    text-align: right;
    flex-direction: column;
    font-family: var(--main-font-family);
    font-size: 46px;
    font-weight: 900;
    line-height: normal;
    color: var(--black-text-color);
    letter-spacing: 1.84px;
    text-transform: uppercase;
}

.hero__span {
    margin-bottom: 16px;
    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: var(--white-text-color);
    text-transform: lowercase;
}

.hero__img-plus-text {
    display: flex;
}

.hero__img {
    margin-top: 42px;
    margin-right: 20px;
}

.hero__column {
    display: flex;
    flex-direction: column;
}

.hero__describes {
    width: 200px;
    margin-top: 110px;
    font-family: var(--third-font-family);
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
}

.hero__arrow {
    margin-top: 24px;
}

.products {
    background: url(/img/background/mobile.png);
}

@media screen and (min-width: 768px) {
    .products {
        background-image: url(/img/background/tablet.png);
    }
}

@media screen and (min-width: 1200px) {
    .products {
        width: 100%;
        height: 1052px;
        background-image: url(../img/background/desktop.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
    }
}

.products__label {
    display: block;
    padding-top: 60px;
    text-align: center;
    font-family: var(--main-font-family);
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--black-text-color);
}

.products__item:first-child {
    position: relative;
    width: 370px;
    height: 536px;
    border-radius: 24px;
    background: #AEC6A5;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.10);
}

.products__img:first-child {
    position: absolute;
    transform: translateX(10%) translateY(-60%);
}

.products__item {
    position: relative;
    border-radius: 24px;
    background: #EFD478;
}

.products__img {
    position: absolute;
    transform: translateX(10%) translateY(-60%);
}

.products__item:last-child {
    position: relative;
    border-radius: 24px;
    background: #D6936D;
}

.products__img:last-child {
    position: absolute;
    transform: translateX(10%) translateY(-60%);
}

.products__title {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 300px;
    font-family: var(--accent-font-family);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.16px;
    text-transform: uppercase;
    color: var(--black-text-color);
}

.products__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.products__item {
    display: block;
    width: 370px;
}

.products__name {
    margin-top: 165px;
    font-family: var(--main-font-family);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--black-text-color);
}

.products__text {
    display: block;
    padding: 66px 64px 50px;
    font-family: var(--third-font-family);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.16px;
    letter-spacing: 0.64px;
    color: var(--black-text-color);
}

.products__modal-open {
    display: block;
    margin: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.products__modal-open:hover,
.products__modal-open:focus {
    background-color: var(--main-background-color);
    opacity: 0.75;
    transition: var(--transition);
}

.products__modal {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 568px;
    height: 100%;
    padding: 32px 40px;
    overflow-y: auto;
    background: var(--white-text-color);
    border-radius: 10px;
    border: 2px solid var(--accent-color);
}

.products__modal-title {
    margin-bottom: 24px;
    font-family: var(--accent-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    font-style: normal;
    color: var(--black-text-color);
}

.products__modal-img {
    display: block;
    margin: auto;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    margin-bottom: 32px;
}

.products__modal-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.products__modal-item {
    margin-bottom: 48px;
    text-align: center;
    font-family: var(--main-font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    font-style: normal;
    color: var(--black-text-color);

    background: #9CBE8F;
    width: 53px;
    height: 53px;
    border-radius: 50%;
}

.products__modal-text {
    font-weight: 400;
    line-height: normal;
    background: var(--white-text-color);
}

.products__modal-article {
    margin-bottom: 24px;
    font-family: var(--main-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    font-style: normal;
    color: var(--black-text-color);
}

.products__modal-wrap {
    display: flex;
    justify-content: space-between;
}

.products__modal-left-item {
    margin-bottom: 11px;
    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 24.64px;
    letter-spacing: 0.56px;
    font-style: normal;
    color: var(--black-text-color);
}

.products__modal-right-item {
    margin-bottom: 11px;
    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 24.64px;
    letter-spacing: 0.56px;
    font-style: normal;
    color: var(--black-text-color);
}

.products__modal-form {
    position: relative;
    margin-top: 16px;
}

.products__modal-textarea {
    display: block;
    margin: auto;
    width: 368px;
    height: 42px;
    padding: 11px 16px;
    resize: none;
    border: 1px solid var(--main-background-color);
    background: rgba(248, 210, 78, 0.10);
    border-radius: 10px;
    caret-color: var(--black);
    color: var(--black);
    transition: var(--transition);
}

.products__modal-textarea:focus {
    border-color: var(--hover);
    outline: 0 none;
}

.products__modal-textarea::placeholder {
    position: absolute;
    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    font-style: normal;
    color: var(--black-text-color);
}

.products__modal-textarea-comment {
    display: block;
    margin: auto;
    width: 368px;
    height: 84px;
    padding: 11px 16px;
    resize: none;
    border: 1px solid var(--main-background-color);
    background: rgba(248, 210, 78, 0.10);
    border-radius: 10px;
    caret-color: var(--black);
    color: var(--black);
    transition: var(--transition);
}

.products__modal-textarea-comment:focus {
    border-color: var(--hover);
    outline: 0 none;
}

.products__modal-textarea-comment::placeholder {
    position: absolute;
    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    font-style: normal;
    color: var(--black-text-color);
}

.products__modal-btn {
    margin: 32px auto 0;
    display: block;
    padding: 12px 34px;
    width: 145px;
    height: 42px;

    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    font-style: normal;
    line-height: normal;
    color: var(--black-text-color);

    border-radius: 10px;
    background: var(--accent-color);
    border-color: transparent;
}

.products__modal-btn:hover,
.products__modal-btn:focus {
    cursor: pointer;
    transition: var(--transition);
    background: var(--hover);
}

.about {
    background-color: var(--main-background-color);
}

.about__label {
    display: block;
    margin-bottom: 12px;
    padding-top: 60px;
    font-family: var(--main-font-family);
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.about__title {
    padding-bottom: 40px;
    font-family: var(--accent-font-family);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 2.16px;
    text-align: center;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.about__wrap {
    display: flex;
    padding-bottom: 30px;
}

.about__column {
    margin-top: 60px;
    margin-left: 110px;
}

.about__text {
    width: 462px;
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.16px;
    letter-spacing: 0.64px;
    font-style: normal;
    color: var(--white-text-color);
}

.about__span {
    font-size: 14px;
    line-height: 27.16px;
    letter-spacing: 0.56px;
}

.about__modal-open {
    display: block;
    margin-top: 54px;
    width: 164px;
    height: 42px;

    font-family: var(--main-font-family);
    color: var(--black);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;

    background-color: var(--accent-color);
    border-radius: 10px;
    border-color: transparent;

    cursor: pointer;
}

.about__modal-open:hover {
    background-color: var(--hover);
    transition: var(--transition);
}

.about__modal-open:focus {
    color: var(--white-text-color)
}

.about__modal-open:disabled {
    background-color: var(--disabled);
    color: var(--black);
}

.about__modal {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 568px;
    height: 449px;
    padding: 32px 40px;
    overflow-y: auto;
    background: var(--white-text-color);
    border-radius: 10px;
    border: 2px solid var(--accent-color);
}

.about__modal-title {
    margin-bottom: 32px;
    font-family: var(--accent-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    font-style: normal;
    color: var(--black-text-color);
}

.about__modal-rectangle {
    position: relative;
    margin: auto;
    width: 448px;
    height: 205px;
    border-radius: 10px;
    background: var(--black);
}

.about__modal-img {
    position: absolute;
    display: block;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -43%);
    cursor: pointer;
}

.about__modal-text {
    margin: 32px auto 0;
    width: 448px;
    text-align: justify;
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    font-style: normal;
    color: var(--black-text-color);
}

.advantages {
    background-color: var(--main-background-color);
    padding-top: 30px;
}

.advantages__list {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 368px;
}

.advantages__img {
    align-self: center;
    width: 50px;
    height: 50px;
    margin-bottom: 40px;
    background-color: var(--accent-color);
    padding: 7px;
    border-radius: 50%;
}

.advantages__span {
    margin-bottom: 12px;
    font-family: var(--main-font-family);
    text-align: center;
    font-size: 58px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    letter-spacing: 2.32px;
    color: var(--white-text-color);
}

.advantages__text {
    padding-bottom: 40px;
    font-family: var(--main-font-family);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 28.16px;
    letter-spacing: 0.32px;
    color: var(--white-text-color);
}

.gallery {
    padding-top: 40px;
    padding-bottom: 8px;
    background-color: var(--main-background-color);
}

.gallery__wrap {
    display: flex;
    justify-content: center;
}

.gallery__list {
    display: flex;
    justify-content: space-around;
}

.gallery__list .gallery__item {
    width: 30%;
    transition: all 600ms ease;
}

.gallery__list:hover .gallery__item {
    opacity: 0.5;
}

.gallery__list .gallery__item:hover {
    width: 100%;
    opacity: 1;
}

.reviews {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(/img/background/mobile.jpg);
}

@media screen and (min-width: 768px) {
    .reviews {
        background-image: url(/img/background/tablet.jpg);
    }
}

@media screen and (min-width: 1200px) {
    .reviews {
        width: 100%;
        background-image: url(/img/background/desktop.jpg);
    }
}

#slider {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked~#reviews .review__wrap {
    margin-left: 0;
}

#slide2:checked~#reviews .review__wrap {
    margin-left: -100%;
}

#slide3:checked~#reviews .review__wrap {
    margin-left: -200%;
}

#reviews .review__wrap {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
}

#reviews .review {
    width: 25%;
    float: left;
    display: block;
    height: 100%;
    color: #fff;
}

#dots {
    display: flex;
    justify-content: center;
    width: 72px;
    justify-content: space-between;
    margin: auto;
}

#dots label {
    width: 12px;
    height: 12px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

#dots label:active {
    background-color: #84A178;
}

#dots label:hover:not(.active),
#dots label:focus:not(.active) {
    background-color: #84A178;
    cursor: pointer;
    transition: var(--transition);
}

.reviews__image {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: auto;
}

.reviews__text {
    display: block;
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 29.76px;
    letter-spacing: 0.64px;
    font-style: normal;
    text-align: center;
    color: var(--white-text-color);

    width: 968px;
    height: 138px;
    margin: 32px auto;
    background-color: var(--main-background-color);
    border-radius: 24px;
    padding: 43px 109px;
}

.reviews__name {
    margin: 32px 0;
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 29.76px;
    font-style: normal;
    text-align: center;
    color: var(--black-text-color);
}

.contacts {
    background-color: var(--main-background-color);
}

.contacts__list {
    display: flex;
    justify-content: center;
    margin: 0 16px;
    padding-top: 50px;
    gap: 32px;
}

.contacts__item {
    width: 368px;
    background-color: var(--white);
    border-radius: 24px;
    padding: 40px;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.10);
}

.contacts__label {
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.64px;
    text-align: left;
    font-style: normal;
    color: var(--black-text-color);

    border-radius: 6px;
    padding: 4px 14px;
    background: var(--accent-color);
}

.contacts__title-country {
    margin-top: 32px;
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 29.76px;
    letter-spacing: 0.64px;
    font-style: normal;
    color: var(--black-text-color);
}

.contacts__title {
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 29.76px;
    letter-spacing: 0.64px;
    font-style: normal;
    color: var(--black-text-color);
}

.contacts__map {
    display: block;
    margin-top: 8px;
    padding: 0;
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 29.28px;
    font-style: normal;
    color: #D6936D;
}

.contacts__map:hover,
.contacts__map:focus {
    text-decoration-line: underline;
    transition: var(--transition);
}

hr {
    margin-bottom: 32px;
    margin-top: 32px;
    border: 1px solid #e1e1e1;
    position: relative;
    overflow: visible;
}

hr:after {
    content: "";
    border: 1px solid #e1e1e1;
    position: absolute;
    width: 100%;
    top: -1px;
    animation: anim-hr 5s linear infinite;
}

@keyframes anim-hr {
    0% {
        left: 0%;
    }

    100% {
        left: 0%;
    }
}

.contacts__text {
    margin-bottom: 12px;
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 29.76px;
    font-style: normal;
    color: var(--disabled);
}

.contacts__tel {
    display: block;
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
    color: var(--black-text-color);
}

.contacts__link {
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
    color: var(--black-text-color);
}

.contacts-btn__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 16px;
}

.contacts-btn__locations {
    display: block;
    padding: 12px 40px;
    background-color: var(--accent-color);
    border-radius: 10px;
    border: transparent;

    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    font-style: normal;
    color: var(--black-text-color);

    cursor: pointer;
}

.contacts-btn__locations:hover {
    color: var(--black);
    background-color: var(--hover);
    transition: var(--transition);
}

.contacts-btn__locations:focus {
    color: var(--white);
}

.contacts-btn__locations:disabled {
    color: var(--black-text-color);
    background-color: var(--disabled);
}

.contacts__modal {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 568px;
    height: 458px;
    padding: 32px 40px;
    overflow-y: auto;
    background: var(--white-text-color);
    border-radius: 10px;
    border: 2px solid var(--accent-color);
}

.contacts__modal-title {
    width: 322px;
    margin: 0 auto 32px;
    font-family: var(--accent-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    font-style: normal;
    color: var(--black-text-color);
}

.contacts__modal-img {
    margin: auto;
}

.contacts__modal-btn {
    margin: 32px auto 0;
    display: block;
    padding: 12px 34px;
    width: 145px;
    height: 42px;

    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    font-style: normal;
    line-height: normal;
    color: var(--black-text-color);

    border-radius: 10px;
    background: var(--accent-color);
    border-color: transparent;
}

.contacts__modal-btn:hover,
.contacts__modal-btn:focus {
    cursor: pointer;
    transition: var(--transition);
    background: var(--hover);
}

.contacts__modal-btn-submit {
    margin: 32px auto 0;
    display: block;
    padding: 12px 34px;
    width: 145px;
    height: 42px;

    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    font-style: normal;
    line-height: normal;
    color: var(--black-text-color);

    border-radius: 10px;
    background: var(--accent-color);
    border-color: transparent;
}

.contacts__modal-btn-submit:hover,
.contacts__modal-btn-submit:focus {
    cursor: pointer;
    transition: var(--transition);
    background: var(--hover);
}

.contacts-btn__franchise {
    display: block;
    padding: 10px 53px;
    background-color: transparent;
    border: 3px solid var(--accent-color);
    border-radius: 10px;

    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    font-style: normal;
    color: var(--black-text-color);
    cursor: pointer;
}

.contacts-btn__franchise:hover {
    color: var(--black);
    border-color: var(--hover);
    transition: var(--transition);
}

.contacts-btn__franchise:focus {
    color: var(--white);
}

.contacts-btn__franchise:disabled {
    color: var(--black);
    border-color: var(--disabled);
}

.contacts__modal-text {
    width: 448px;
    text-align: justify;
    margin: 0 auto 32px;
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    font-style: normal;
    color: var(--black-text-color);
}

.contacts__modal-form {
    position: relative;
    margin-top: 16px;
}

.contacts__modal-textarea {
    display: block;
    margin: auto;
    width: 368px;
    height: 42px;
    padding: 11px 16px;
    resize: none;
    border: 1px solid var(--main-background-color);
    background: rgba(248, 210, 78, 0.10);
    border-radius: 10px;
    caret-color: var(--black);
    color: var(--black);
    transition: var(--transition);
}

.contacts__modal-textarea:focus {
    border-color: var(--hover);
    outline: 0 none;
}

.contacts__modal-textarea::placeholder {
    position: absolute;
    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    font-style: normal;
    color: var(--black-text-color);
}

.contacts__modal-textarea-comment {
    display: block;
    margin: auto;
    width: 368px;
    height: 84px;
    padding: 11px 16px;
    resize: none;
    border: 1px solid var(--main-background-color);
    background: rgba(248, 210, 78, 0.10);
    border-radius: 10px;
    caret-color: var(--black);
    color: var(--black);
    transition: var(--transition);
}

.contacts__modal-textarea-comment:focus {
    border-color: var(--hover);
    outline: 0 none;
}

.contacts__modal-textarea-comment::placeholder {
    position: absolute;
    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    font-style: normal;
    color: var(--black-text-color);
}

.footer {
    background-color: var(--main-background-color);
    display: flex;
    padding-top: 120px;
    padding-bottom: 72px;
    justify-content: space-between;
    align-items: center;
}

.left-side__span {
    font-family: var(--main-font-family);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
    color: var(--white-text-color);
}

.left-side__title {
    font-family: var(--main-font-family);
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 3.48px;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
    color: var(--white-text-color);
}

.right-side__list {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-bottom: 36px;
}

.right-side__icon {
    fill: var(--main-background-color);
}

.right-side__icon:hover,
.right-side__icon:focus {
    fill: var(--white-text-color);
    transition: var(--transition);
}

.right-side__info {
    display: flex;
    align-items: baseline;
}

.right-side__text {
    margin-right: 8px;
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 29.76px;
    letter-spacing: 0.32px;
    font-style: normal;
    color: var(--black-text-color);
}

.right-side__link {
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 29.76px;
    letter-spacing: 0.32px;
    font-style: normal;
    color: var(--white);
}

.footer__text {
    background-color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 12px;
    line-height: 22.32px;
    letter-spacing: 0.24px;
    font-style: normal;
    text-align: center;
    color: #7a7a7a;
}



